* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #e9bcb7;
  background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
}

.container {
  margin-top: 40px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6) !important;
  z-index: 4;
  border-radius: 40px;
}

.form-wrapper {
  width: 300px;
  margin: 0 auto;
}

#message {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  padding: 20px;
  text-align: center;
  width: 80%;
  border-radius: 2rem;
  font-size: 1.2rem;

  animation: vanish 3.5s linear;
  animation-fill-mode: forwards;
}

.error {
  background: rgb(166, 0, 0);
  background: linear-gradient(
    302deg,
    rgba(166, 0, 0, 0.7) 21%,
    rgba(250, 17, 17, 0.7) 100%
  );
}

.success {
  background: rgb(12, 195, 153);
  background: linear-gradient(
    302deg,
    rgba(12, 195, 153, 0.7) 21%,
    rgba(18, 158, 29, 0.7) 100%
  );
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
